a.buttonL1 {background: url('left22nn.gif'); display: block; width: 207px; height: 74px;}
a.buttonL1:hover {background: url('left22n.gif'); display: block; width: 207px; height: 74px;}

a.buttonL2 {background: url('left42nn.gif'); display: block; width: 184px; height: 55px;}
a.buttonL2:hover {background: url('left42n.gif'); display: block; width: 184px; height: 55px;}

a.buttonL3 {background: url('left62nn.gif'); display: block; width: 171px; height: 53px;}
a.buttonL3:hover {background: url('left62n.gif'); display: block; width: 171px; height: 53px;}

a.buttonL4 {background: url('left82nn.gif'); display: block; width: 140px; height: 50px;}
a.buttonL4:hover {background: url('left82n.gif'); display: block; width: 140px; height: 50px;}

a.buttonL5 {background: url('left102nn.gif'); display: block; width: 194px; height: 72px;}
a.buttonL5:hover {background: url('left102n.gif'); display: block; width: 194px; height: 72px;}

a.buttonR1 {background: url('right22nn.gif'); display: block; width: 173px; height: 41px;}
a.buttonR1:hover {background: url('right22n.gif'); display: block; width: 173px; height: 41px;}

a.buttonR2 {background: url('right42nn.gif'); display: block; width: 165px; height: 43px;}
a.buttonR2:hover {background: url('right42n.gif'); display: block; width: 165px; height: 43px;}

a.buttonR3 {background: url('right62nn.gif'); display: block; width: 207px; height: 50px;}
a.buttonR3:hover {background: url('right62n.gif'); display: block; width: 207px; height: 50px;}